.vojvoj-login-container {
  width: 100%;
  height: 100%;
  background: url("../../../../assets/image/register-bg.jpg"), #000;
  // padding-top: 3rem;

  .vojvoj-login-header {
    width: 100%;
    height: auto;
    text-align: center;
    padding: 3rem 0;

    .vojvoj-brand-logo {
      width: 200px;
      // margin: 1.5rem auto;
    }
  }

  .required {
    color: red;
    font-weight: bold;
  }

  .vojvoj-login-content {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    // margin-top: 100px;

    ::ng-deep {
      mat-stepper {
        width: 80%;
        border-radius: 20px;
        min-height: 71vh;

        .mat-step-header {
          flex-direction: row-reverse !important;
          padding: 0 20px;
        }

        .mat-horizontal-content-container {
          padding-top: 20px;
        }

        .mat-horizontal-stepper-header .mat-step-icon {
          margin-right: 0;
        }

        .mat-step-label {
          min-width: 38px;
        }

        .mdc-floating-label--required:not(.mdc-floating-label--hide-required-marker)::after {
          color: #ff0000;
        }

        .mat-horizontal-stepper-header-container {
          padding: 0 30px;
        }

        #first-form {
          width: 80%;
          margin: auto;
        }

        mat-form-field {
          margin-bottom: 0.8rem;
        }
      }
    }

    .rowcol {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 15px;
      margin-bottom: 15px;
    }

    .rowcol1,
    .rowcol2 {
      flex: 1;
    }


    /* Material Form Fields */
    mat-form-field {
      width: 100%;
    }

    /* Button Toggle Styling */
    mat-button-toggle-group {
      display: flex;
      width: 100%;
      justify-content: space-between;
      border-radius: 4px;
      background-color: #f4f6f9;
      padding: 5px;
    }

    mat-button-toggle {
      flex: 1;
      text-align: center;
      border: 1px solid #ccc;
    }

    mat-button-toggle-checked {
      background-color: #3f51b5 !important;
      color: white !important;
      border-color: #3f51b5 !important;
    }

    .accordion {
      display: block;
      // max-width: 500px;
    }

    .accordion-item {
      display: block;
      border: solid 1px #ccc;
    }

    .accordion-item+.accordion-item {
      border-top: none;
    }

    .accordion-item-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      background: none;
      border: none;
      padding: 16px;
      text-align: left;
      background-color: #646464;
      color: #ffff;
    }

    .accordion-item-header.active {
      background-color: #646464;
      color: #ffff;
    }

    .accordion-item-header:hover,
    .accordion-item-header.active:hover {
      background-color: #6e6e6e;
      color: #000000;
    }

    .accordion-item-description {
      font-size: 1rem;
      color: #ffffff;
      font-weight: bold;
    }

    .accordion-item-body {
      padding: 25px 15px;

      .subjects label {
        padding-right: 15px;
      }

      h5 {
        font-size: 1rem;
        font-weight: bold;
        margin-bottom: 6px;
      }

      p {
        font-size: 0.8rem;
        font-weight: 600;
        color: #a09f9f;
        margin-bottom: 10px;
      }
    }

    .accordion-item-header:hover {
      cursor: pointer;
      background-color: #eee;
    }

    .accordion-item:first-child {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }

    .accordion-item:last-child {
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
    }

    h5 {
      font-size: 1rem;
      font-weight: bold;
      margin-bottom: 6px;
    }

    p {
      font-size: 0.8rem;
      font-weight: 600;
      color: #a09f9f;
      margin-bottom: 10px;
    }

    .experiences {
      display: flex;
      flex-direction: column;

      .experience {

        input[type="checkbox"] {
          margin-right: 10px;
        }
      }
    }

    a {
      color: #fff;
    }
  }

  .vojvoj-login-btn {
    width: 100%;
    color: #000;
    padding: 0.5rem 0;
    font-weight: 600;
    background-color: #ffffff;
    cursor: pointer;
    transition: 0.3s ease;
    filter: drop-shadow(0.1rem 0.1rem 0.15rem rgba(0, 0, 0, 0.5)) brightness(90%);

    &:hover {
      filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5)) brightness(100%);
    }
  }
}
