<div class="vojvoj-login-container">
  <div class="vojvoj-login-header">
    <img class="vojvoj-brand-logo" alt="Student Tution System" src="../../../assets/image/image10.png" srcset="
              ../../../assets/image/image10.png 1x,
              ../../../assets/image/image10.png 2x
            " />
  </div>

  <div class="vojvoj-login-content">
    <mat-stepper [linear]="isLinear" #stepper>
      <mat-step [stepControl]="firstFormGroup">
        <form id="fourth-form" [formGroup]="firstFormGroup">
          <ng-template matStepLabel>Step</ng-template>
          <mat-form-field class="w-100">
            <mat-label>Email Address</mat-label>
            <input matInput type="email" formControlName="email" required />
            <mat-error *ngIf="firstFormGroup.controls.email.touched">
              <span *ngIf="firstFormGroup.controls.email.errors?.['required']">Email is required.</span>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="w-100">
            <mat-label>Password</mat-label>
            <input matInput [type]="passwordHide() ? 'password' : 'text'" formControlName="password" required />
            <button mat-icon-button matSuffix type="button" (click)="hidePasswordEvent($event)"
              [attr.aria-label]="'Hide password'" [attr.aria-pressed]="passwordHide()">
              <mat-icon>{{passwordHide() ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="firstFormGroup.controls.confirmPassword.touched">
              <span *ngIf="firstFormGroup.controls.confirmPassword.errors?.['required']">Confirm Password is
                required.</span>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="w-100">
            <mat-label>Re-enter Password</mat-label>
            <input matInput [type]="passwordHide() ? 'password' : 'text'" formControlName="confirmPassword" required />
            <button mat-icon-button matSuffix type="button" (click)="hidePasswordEvent($event)"
              [attr.aria-label]="'Hide password'" [attr.aria-pressed]="passwordHide()">
              <mat-icon>{{passwordHide() ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="firstFormGroup.controls.confirmPassword.touched">
              <span *ngIf="firstFormGroup.controls.confirmPassword.errors?.['required']">Confirm Password is
                required.</span>
            </mat-error>
          </mat-form-field>

          <div class="text-end">
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>Step</ng-template>

          <div class="rowcol">
            <div class="rowcol1">
              <mat-form-field class="w-100">
                <mat-label>First Name</mat-label>
                <input matInput formControlName="firstName" required />
                <mat-error
                  *ngIf="secondFormGroup.controls.firstName.touched && secondFormGroup.controls.firstName.errors?.['required']">
                  First Name is required.
                </mat-error>
              </mat-form-field>
            </div>

            <div class="rowcol2">
              <mat-form-field class="w-100">
                <mat-label>Last Name</mat-label>
                <input matInput formControlName="lastName" required />
                <mat-error
                  *ngIf="secondFormGroup.controls.lastName.touched && secondFormGroup.controls.lastName.errors?.['required']">
                  Last Name is required.
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="rowcol">
            <div class="rowcol1">
              <mat-form-field class="w-100">
                <mat-label>Citizenship</mat-label>
                <mat-select formControlName="citizenship" required>
                  <mat-option value="Singaporean">Singaporean/PR</mat-option>
                  <mat-option value="Foreigner">Foreigner</mat-option>
                </mat-select>
                <mat-error
                  *ngIf="secondFormGroup.controls.citizenship.touched && secondFormGroup.controls.citizenship.errors?.['required']">
                  Please select a Bank/PayNow option.
                </mat-error>
              </mat-form-field>
            </div>

            <div class="rowcol2">
              <mat-form-field>
                <mat-label>Date of Birth</mat-label>
                <input matInput placeholder="MM/DD/YYYY" [matDatepicker]="dboPicker">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="dboPicker"></mat-datepicker-toggle>
                <mat-datepicker #dboPicker></mat-datepicker>
                <mat-error
                  *ngIf="secondFormGroup.controls.dateOfBirth.touched && secondFormGroup.controls.dateOfBirth.errors?.['required']">
                  Date of Birth is required.
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="rowcol">
            <div class="rowcol1">
              <mat-form-field class="w-100">
                <mat-label>Gender</mat-label>
                <mat-select formControlName="gender" required>
                  <mat-option value="Male">Male</mat-option>
                  <mat-option value="Female">Female</mat-option>
                </mat-select>
                <mat-error
                  *ngIf="secondFormGroup.controls.gender.touched && secondFormGroup.controls.gender.errors?.['required']">
                  Please select a Bank/PayNow option.
                </mat-error>
              </mat-form-field>
            </div>

            <div class="rowcol2">
              <mat-form-field class="w-100">
                <mat-label>Race</mat-label>
                <mat-select formControlName="race" required>
                  <mat-option value="Chinese">Chinese</mat-option>
                  <mat-option value="Indian">Indian</mat-option>
                  <mat-option value="Malay">Malay</mat-option>
                  <mat-option value="Other">Other</mat-option>
                </mat-select>
                <mat-error
                  *ngIf="secondFormGroup.controls.bankOption.touched && secondFormGroup.controls.race.errors?.['required']">
                  Please select a race option.
                </mat-error>
              </mat-form-field>

            </div>
          </div>

          <div class="rowcol">
            <div class="rowcol1">
              <mat-form-field class="w-100">
                <mat-label>Postal Code</mat-label>
                <input matInput formControlName="postalCode" required />
                <mat-error
                  *ngIf="secondFormGroup.controls.postalCode.touched && secondFormGroup.controls.postalCode.errors?.['required']">
                  Postal Code is required.
                </mat-error>
              </mat-form-field>
            </div>

            <div class="rowcol2">
              <mat-form-field class="w-100">
                <mat-label>Mobile Number (Must have WhatsApp)</mat-label>
                <input matInput formControlName="mobileNumber" required />
                <mat-error
                  *ngIf="secondFormGroup.controls.mobileNumber.touched && secondFormGroup.controls.mobileNumber.errors?.['required']">
                  Mobile Number is required.
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="rowcol">
            <div class="rowcol1">
              <mat-form-field>
                <mat-label>Bank/PayNow</mat-label>
                <mat-select formControlName="bankOption" required>
                  <mat-option value="PayNow">PayNow</mat-option>
                  <mat-option value="Bank">Bank</mat-option>
                </mat-select>
                <mat-error
                  *ngIf="secondFormGroup.controls.bankOption.touched && secondFormGroup.controls.bankOption.errors?.['required']">
                  Please select a Bank/PayNow option.
                </mat-error>
              </mat-form-field>
            </div>
            <div class="rowcol2"></div>
          </div>

          <div class="text-end">
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="thirdFormGroup">
        <form id="third-form" [formGroup]="thirdFormGroup">
          <ng-template matStepLabel>Step</ng-template>
          <cdk-accordion class="accordion">
            @for (categoryItem of subjectsList; track categoryItem; let categoryIndex = $index) {
            <cdk-accordion-item #accordionItem="cdkAccordionItem" class="accordion-item">
              <button [class.active]="accordionItem.expanded" class="accordion-item-header"
                (click)="accordionItem.toggle()" tabindex="0" [attr.id]="'accordion-header-' + categoryIndex"
                [attr.aria-expanded]="accordionItem.expanded" [attr.aria-controls]="'accordion-body-' + categoryIndex">
                {{ categoryItem?.category | titlecase }}
                <span class="accordion-item-description">{{ accordionItem.expanded ? '-' : '+' }}</span>
              </button>

              @if(accordionItem.expanded) {
              <div class="accordion-item-body" role="region" [attr.id]="'accordion-body-' + categoryIndex"
                [attr.aria-labelledby]="'accordion-header-' + categoryIndex">
                <h5>Subject</h5>
                <p>{{ categoryItem?.description }}</p>
                <div class="subjects">
                  @for (subject of categoryItem.subjects; track subject) {
                  <label>
                    <input type="checkbox">
                    {{ subject?.name }}
                  </label>
                  }
                  <h5 class="mt-3">Minimum Rate</h5>
                  <p>{{ categoryItem?.rateDescription }}</p>
                  <input type="number" />
                </div>
              </div>
              }
            </cdk-accordion-item>
            }
          </cdk-accordion>

          <div class="rowcol mt-3">
            <div class="w-100">
              <h5>Experience In Special Needs? (Leave Blank If None) </h5>
              <div class="experiences">
                <div class="experience">
                  <input type="checkbox">
                  <label> Dyslexia
                  </label>
                </div>
                <div class="experience">
                  <input type="checkbox">
                  <label> Autism Spectrum Disorder (ASD)
                  </label>
                </div>
                <div class="experience">
                  <input type="checkbox">
                  <label> ADHD
                  </label>
                </div>
                <div class="experience">
                  <input type="checkbox">
                  <label> Anger Management
                  </label>
                </div>
                <div class="experience">
                  <input type="checkbox">
                  <label> Slow Learner
                  </label>
                </div>
                <div class="experience">
                  <input type="checkbox">
                  <label> Down Syndrome
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="rowcol">
            <div class="w-100">
              <h5>Preferred Tutoring Location(s) </h5>
              <p>Preferred Tutoring Location(s) </p>
              <div class="amatgroup">
                <mat-button-toggle-group name="tutoringLocation" class="matgroup" multiple aria-label="User Type">
                  <mat-button-toggle value="tutorLocationA">
                    <div>
                      <b>North</b> Woodlands,<br>SembaWang,<br> Admiralty, Yishun,<br> Khatib
                    </div>
                  </mat-button-toggle>
                  <mat-button-toggle value="tutorLocationB">
                    <div>
                      <b>North West</b> Bukit<br>Batok, CCK, Bukit<br>Panjang, Yew tee
                    </div>
                  </mat-button-toggle>
                  <mat-button-toggle value="tutorLocationC">
                    <div>
                      <b>West</b> Jurong West,<br>Clementi, Buona<br>Vista, Kent
                      Ridge,<br>CommonWealth,<br>Queenstown
                    </div>
                  </mat-button-toggle>
                  <br>
                  <mat-button-toggle value="tutorLocationD">
                    <div>
                      <b>Central</b> Redhill,<br>Tiong Bahru,<br>Macpherson,
                      Bugis,<br>Orchard,
                      Newton
                    </div>
                  </mat-button-toggle>
                  <mat-button-toggle value="tutorLocationE">
                    <div>
                      <b>North East</b> Yio Chu<br>Kang, Potong Pasir,<br>Punggol,
                      Hougang,<br>SendKang, Bishan,<br>AMK, Tao Payoh
                    </div>
                  </mat-button-toggle>
                  <mat-button-toggle value="tutorLocationF">
                    <div>
                      <b>East</b> Aljunied, Paya<br>Lenbar, Eunos,<br>Tampines, Marine<br>
                      Parade,
                      Pasir Ris,<br>Changi
                    </div>
                  </mat-button-toggle>
                  <mat-button-toggle value="tutorLocationG">
                    <div>
                      <b>South</b> Tanjong<br>Pagar, Marina South,<br>Harbourfront,
                      Telok<br>Blangah
                    </div>
                  </mat-button-toggle>
                </mat-button-toggle-group>
              </div>
            </div>
          </div>

          <div class="text-end">
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="fourthFormGroup">
        <form [formGroup]="fourthFormGroup">
          <ng-template matStepLabel>Step</ng-template>

          <div class="rowcol">
            <div class="rowcol1">
              <mat-form-field class="w-100">
                <mat-label>Education Leval </mat-label>
                <mat-select formControlName="educationLeval" required>
                  <mat-option value="Singaporean">Polytechic/Deploma Student</mat-option>
                  <mat-option value="Foreigner">Ug</mat-option>
                  <mat-option value="Foreigner">Pg</mat-option>
                </mat-select>
                <mat-error
                  *ngIf="fourthFormGroup.controls.educationLeval.touched && fourthFormGroup.controls.educationLeval.errors?.['required']">
                  Please select a Education Leval option.
                </mat-error>
              </mat-form-field>
            </div>
            <div class="rowcol2">
              <mat-form-field class="w-100">
                <mat-label>Tutor Category</mat-label>
                <mat-select formControlName="tutorCategory" required>
                  <mat-option value="Part-Time">Part-Time</mat-option>
                  <mat-option value="Full-Time">Full-Time</mat-option>
                </mat-select>
                <mat-error
                  *ngIf="fourthFormGroup.controls.tutorCategory.touched && fourthFormGroup.controls.tutorCategory.errors?.['required']">
                  Please select a Tutor Category option.
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="rowcol">
            <div class="rowcol1">
              <mat-form-field class="w-100">
                <mat-label>Academic Qualification And Grades </mat-label>
                <mat-select formControlName="qualificationAndGrades" required>
                  <mat-option value="PSLE">PSLE</mat-option>
                  <mat-option value="'O' levels">'O' levels</mat-option>
                  <mat-option value="IP (Year 4 Result)">IP (Year 4 Result)</mat-option>
                  <mat-option value="'A' levels">'A' levels</mat-option>
                  <mat-option value="IB">IB</mat-option>
                  <mat-option value="IGCSE">IGCSE</mat-option>
                  <mat-option value="Diploma/University">Diploma/University</mat-option>
                  <mat-option value="Music">Music</mat-option>
                  <mat-option value="NIE/MOE">NIE/MOE</mat-option>
                </mat-select>
                <mat-error
                  *ngIf="fourthFormGroup.controls.qualificationAndGrades.touched && fourthFormGroup.controls.qualificationAndGrades.errors?.['required']">
                  Please select a Academic Qualification And Grades option.
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="rowcol">
            <div class="rowcol1">
              <mat-form-field class="w-100">
                <mat-label>School</mat-label>
                <mat-select formControlName="school" required>
                  <mat-option value="Part-Time">Part-Time</mat-option>
                  <mat-option value="Full-Time">Full-Time</mat-option>
                </mat-select>
                <mat-error
                  *ngIf="fourthFormGroup.controls.school.touched && fourthFormGroup.controls.school.errors?.['required']">
                  Please select a School option.
                </mat-error>
              </mat-form-field>
            </div>
            <div class="rowcol2">
              <mat-form-field>
                <mat-label>Graduation Date</mat-label>
                <input matInput placeholder="MM/DD/YYYY" [matDatepicker]="picker">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error
                  *ngIf="fourthFormGroup.controls.graduationDate.touched && fourthFormGroup.controls.graduationDate.errors?.['required']">
                  Graduation Date is required.
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <h5 class="mt-4">Grades: </h5>
          <div class="rowcol mt-3">
            <div class="rowcol1 col-1">
              <div class="subject-row" *ngFor="let subject of subjects.slice(0, subjects.length / 2)">
                <mat-form-field class="w-100">
                  <mat-label>{{ subject.name }}</mat-label>
                  <mat-select [(ngModel)]="selectedGrades[subject.formControl]">
                    <mat-option *ngFor="let grade of grades" [value]="grade">
                      {{ grade }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>

            <div class="rowcol1 col-2">
              <div class="subject-row" *ngFor="let subject of subjects.slice(subjects.length / 2)">
                <mat-form-field class="w-100">
                  <mat-label>{{ subject.name }}</mat-label>
                  <mat-select [(ngModel)]="selectedGrades[subject.formControl]">
                    <mat-option *ngFor="let grade of grades" [value]="grade">
                      {{ grade }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>

          <div class="text-end">
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step>
        <form id="fifth-form">
          <ng-template matStepLabel>Step</ng-template>

          <div class="rowcol">
            <div class="rowcol1">
              <div class="profile-upload">
                <h5>Profile Photo</h5>
                <div>
                  <input type="file" (change)="onFileSelected($event)" accept="image/*" hidden #fileInputProfile>
                  <button mat-button (click)="fileInputProfile.click()">
                    <img *ngIf="profilePreview" [src]="profilePreview" alt="Profile Image" class="preview-image">
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div class="rowcol">
            <div class="rowcol1">
              <mat-form-field class="w-100">
                <h5>Experiences</h5>
                <textarea matInput rows="4" placeholder="Type something..."></textarea>
              </mat-form-field>
            </div>
          </div>

          <div class="rowcol">
            <div class="rowcol1">
              <h5>Documents</h5>
              <div>
                <input type="file" #fileInputDocument>
                <!-- <button mat-button (click)="fileInputDocument.click()">Upload Document</button> -->
              </div>
            </div>
          </div>

          <div class="w-100">
            <h5>Privacy Preferences</h5>
            <div>
              <input type="radio" name="privacy-preferences" id="" />
              <label class="privacy-preferences" for="privacy-preferences">Ok</label>
              <input type="radio" name="privacy-preferences" id="" />
              <label class="privacy-preferences" for="privacy-preferences">Keep profile private (forgo
                enquiries--)</label>
            </div>
          </div>

          <div class="text-end">
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
    </mat-stepper>
  </div>
</div>
