<div class="vojvoj-login-container">
  <div class="vojvoj-login-header">
    <img class="vojvoj-brand-logo" alt="Student Tution System" src="../../../assets/image/image10.png" srcset="
              ../../../assets/image/image10.png 1x,
              ../../../assets/image/image10.png 2x
            " />
  </div>
  <!-- <div class="vojvoj-login-content">
    <p-card header="Tutor Registeration" [style]="{ width: 'fit-content' }">
      <form [formGroup]="registerFormGroup" (submit)="loginValidation()">
        <p>
          <mat-form-field class="w-100">
            <mat-label>Username</mat-label>
            <input matInput formControlName="userName" required />
            <mat-error *ngIf="registerFormGroup.controls.userName.touched">
              <span *ngIf="registerFormGroup.controls.userName.errors?.['required']">Username is required.</span>
            </mat-error>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput [type]="passwordHide() ? 'password' : 'text'" formControlName="password" required />
            <button mat-icon-button matSuffix type="button" (click)="hidePasswordEvent($event)"
              [attr.aria-label]="'Hide password'" [attr.aria-pressed]="passwordHide()">
              <mat-icon>{{passwordHide() ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="registerFormGroup.controls.password.touched">
              <span *ngIf="registerFormGroup.controls.password.errors?.['required']">Password is required.</span>
            </mat-error>
          </mat-form-field>
        </p>
        <div class="divmain">
          <button type="submit" class="btn vojvoj-login-btn">Register</button>
        </div>
      </form>
      <div class="mt-4">
        <a href="#" class="mt-4">Back</a>
      </div>
    </p-card>
  </div> -->

  <div class="vojvoj-login-content">
    <mat-stepper [linear]="isLinear" #stepper>
      <mat-step [stepControl]="firstFormGroup">
        <form id="first-form" [formGroup]="firstFormGroup">
          <ng-template matStepLabel>Step</ng-template>
          <mat-form-field class="w-100">
            <mat-label>Email Address</mat-label>
            <input matInput type="email" formControlName="email" required />
            <mat-error *ngIf="firstFormGroup.controls.email.touched">
              <span *ngIf="firstFormGroup.controls.email.errors?.['required']">Email is required.</span>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="w-100">
            <mat-label>Password</mat-label>
            <input matInput [type]="passwordHide() ? 'password' : 'text'" formControlName="password" required />
            <button mat-icon-button matSuffix type="button" (click)="hidePasswordEvent($event)"
              [attr.aria-label]="'Hide password'" [attr.aria-pressed]="passwordHide()">
              <mat-icon>{{passwordHide() ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="firstFormGroup.controls.confirmPassword.touched">
              <span *ngIf="firstFormGroup.controls.confirmPassword.errors?.['required']">Confirm Password is
                required.</span>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="w-100">
            <mat-label>Re-enter Password</mat-label>
            <input matInput [type]="passwordHide() ? 'password' : 'text'" formControlName="confirmPassword" required />
            <button mat-icon-button matSuffix type="button" (click)="hidePasswordEvent($event)"
              [attr.aria-label]="'Hide password'" [attr.aria-pressed]="passwordHide()">
              <mat-icon>{{passwordHide() ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="firstFormGroup.controls.confirmPassword.touched">
              <span *ngIf="firstFormGroup.controls.confirmPassword.errors?.['required']">Confirm Password is
                required.</span>
            </mat-error>
          </mat-form-field>

          <div class="text-end">
            <button mat-button matStepperNext [disabled]="firstFormGroup.invalid">Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>Step</ng-template>

          <div class="rowcol">
            <div class="rowcol1">
              <mat-form-field class="w-100">
                <mat-label>First Name</mat-label>
                <input matInput formControlName="firstName" required />
                <mat-error
                  *ngIf="secondFormGroup.controls.firstName.touched && secondFormGroup.controls.firstName.errors?.['required']">
                  First Name is required.
                </mat-error>
              </mat-form-field>
            </div>

            <div class="rowcol2">
              <mat-form-field class="w-100">
                <mat-label>Last Name</mat-label>
                <input matInput formControlName="lastName" required />
                <mat-error
                  *ngIf="secondFormGroup.controls.lastName.touched && secondFormGroup.controls.lastName.errors?.['required']">
                  Last Name is required.
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="rowcol">
            <div class="rowcol1">
              <mat-form-field class="w-100">
                <mat-label>Citizenship</mat-label>
                <mat-select formControlName="citizenship" required>
                  <mat-option value="Singaporean">Singaporean/PR</mat-option>
                  <mat-option value="Foreigner">Foreigner</mat-option>
                </mat-select>
                <mat-error
                  *ngIf="secondFormGroup.controls.citizenship.touched && secondFormGroup.controls.citizenship.errors?.['required']">
                  Please select a Bank/PayNow option.
                </mat-error>
              </mat-form-field>
            </div>

            <div class="rowcol2">
              <mat-form-field>
                <mat-label>Date of Birth</mat-label>
                <input matInput placeholder="MM/DD/YYYY" [matDatepicker]="picker">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error
                  *ngIf="secondFormGroup.controls.dateOfBirth.touched && secondFormGroup.controls.dateOfBirth.errors?.['required']">
                  Date of Birth is required.
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <mat-form-field class="w-100">
            <mat-label>Gender</mat-label>
            <mat-select formControlName="gender" required>
              <mat-option value="Male">Male</mat-option>
              <mat-option value="Female">Female</mat-option>
            </mat-select>
            <mat-error
              *ngIf="secondFormGroup.controls.gender.touched && secondFormGroup.controls.gender.errors?.['required']">
              Please select a Bank/PayNow option.
            </mat-error>
          </mat-form-field>


          <mat-form-field class="w-100">
            <mat-label>Race</mat-label>
            <mat-select formControlName="race" required>
              <mat-option value="Chinese">Chinese</mat-option>
              <mat-option value="Indian">Indian</mat-option>
              <mat-option value="Malay">Malay</mat-option>
              <mat-option value="Other">Other</mat-option>
            </mat-select>
            <mat-error
              *ngIf="secondFormGroup.controls.bankOption.touched && secondFormGroup.controls.race.errors?.['required']">
              Please select a race option.
            </mat-error>
          </mat-form-field>

          <mat-form-field class="w-100">
            <mat-label>Postal Code</mat-label>
            <input matInput formControlName="postalCode" required />
            <mat-error
              *ngIf="secondFormGroup.controls.postalCode.touched && secondFormGroup.controls.postalCode.errors?.['required']">
              Postal Code is required.
            </mat-error>
          </mat-form-field>

          <mat-form-field class="w-100">
            <mat-label>Mobile Number (Must have WhatsApp)</mat-label>
            <input matInput formControlName="mobileNumber" required />
            <mat-error
              *ngIf="secondFormGroup.controls.mobileNumber.touched && secondFormGroup.controls.mobileNumber.errors?.['required']">
              Mobile Number is required.
            </mat-error>
          </mat-form-field>

          <mat-form-field class="w-100">
            <mat-label>Bank/PayNow</mat-label>
            <mat-select formControlName="bankOption" required>
              <mat-option value="PayNow">PayNow</mat-option>
              <mat-option value="Bank">Bank</mat-option>
            </mat-select>
            <mat-error
              *ngIf="secondFormGroup.controls.bankOption.touched && secondFormGroup.controls.bankOption.errors?.['required']">
              Please select a Bank/PayNow option.
            </mat-error>
          </mat-form-field>

          <div class="text-end">
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext [disabled]="secondFormGroup.invalid">Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="secondFormGroup">
        <form id="first-form" [formGroup]="thirdFormGroup">
          <ng-template matStepLabel>Step</ng-template>
          <cdk-accordion class="accordion">
            @for (item of items; track item; let index = $index) {
            <cdk-accordion-item #accordionItem="cdkAccordionItem" class="accordion-item">
              <button class="accordion-item-header" (click)="accordionItem.toggle()" tabindex="0"
                [attr.id]="'accordion-header-' + index" [attr.aria-expanded]="accordionItem.expanded"
                [attr.aria-controls]="'accordion-body-' + index">
                {{ item }}
                <span class="accordion-item-description">
                  Click to {{ accordionItem.expanded ? 'close' : 'open' }}
                </span>
              </button>
              @if(accordionItem.expanded) {
              <div class="accordion-item-body" role="region" [style.display]="accordionItem.expanded ? '' : 'none'"
                [attr.id]="'accordion-body-' + index" [attr.aria-labelledby]="'accordion-header-' + index">
                Lorem ipsum dolor, sit amet, consectetur adipisicing elit. Perferendis excepturi incidunt ipsum
                deleniti labore, tempore non nam doloribus blanditiis veritatis illo autem iure aliquid ullam
                rem tenetur deserunt velit culpa?
              </div>
              }
            </cdk-accordion-item>
            }
          </cdk-accordion>

          <!-- <cdk-accordion class="accordion">
            <div *ngFor="let category of categories; let i = index">
              <cdk-accordion-item #accordionItem="cdkAccordionItem" class="accordion-item">
                <button class="accordion-item-header" (click)="accordionItem.toggle()" tabindex="0"
                  [attr.id]="'accordion-header-' + i" [attr.aria-expanded]="accordionItem.expanded"
                  [attr.aria-controls]="'accordion-body-' + i">
                  {{ category | titlecase }}
                  <span class="accordion-item-description">
                    Click to {{ accordionItem.expanded ? 'close' : 'open' }}
                  </span>
                </button>

                <div class="accordion-item-body" *ngIf="accordionItem.expanded" role="region"
                  [attr.id]="'accordion-body-' + i" [attr.aria-labelledby]="'accordion-header-' + i">

                  <div class="subjects">
                    <ng-template *ngFor="let subject of subjectsList[category]">
                      <input type="checkbox"
                        [formControl]="getCategoryFormGroup(category).get('subject_' + subject.id)">
                      {{ subject.name }}
                    </ng-template>
                  </div>
                </div>
              </cdk-accordion-item>
            </div>
          </cdk-accordion> -->

          <div class="text-end">
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext [disabled]="secondFormGroup.invalid">Next</button>
          </div>
        </form>
      </mat-step>

    </mat-stepper>
  </div>
</div>