<div class="vojvoj-login-container">
    <div class="vojvoj-login-header">
        <img
          class="vojvoj-brand-logo"
          alt="Tution System"
          src="../../../assets/image/image10.png"
          srcset="../../../assets/image/image10.png 1x, ../../../assets/image/image10.png 2x"
        />
    </div>
    <div class="vojvoj-login-content">
        <div class="homecontent">
            Need proper content
        </div>
        <div class="homecontent">
          <a href="/admin-login">Admin Login</a>
          <a href="/agent-login">Agent Login</a>
          <a href="/tutor-login">Tutor Login</a>
          <a href="/student-login">Student Login</a>
        </div>
    </div>
</div>
